/* Section2.css */
.section2 {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: black;
}

.animation-box-iphone-video{
    display: flex;
    justify-content: center;
    align-items: center;   

}

.animation-box-iphone-video div {
    margin: 10px; /* İçerik arasında boşluk bırakmak için */
}

.img-before {
    opacity: 0;
    transform: translateX(-400%);
    transition: ease-out all 1s;
}

.img-animation-after {
    opacity: 1; 
    transform: translateX(-30%);
}

.paragraph-group{
    display: grid;
    align-content: center;
    max-width: 425px;
    height: 100%;
    color: white;
    padding-left: 10%;
}

.paragraph-before{
    opacity: 0;
    transform: translateY(-200%);
    transition: ease all 2s;
    transition-delay: 0.5s;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;    
}

.paragraph-after{
    opacity: 1;
    transform: translateY(0%);
}

.paragraph-before2{
    opacity: 0;
    transform: translateY(-200%);
    transition: ease all 2s;
    transition-delay: 3s;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}

.paragraph-after2{
    opacity: 1;
    transform: translateX(0%);
}

.h2-tag{
    color: white;
}